.Heading {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  margin:200px;
}

.Heading img {
    margin-left: 20px; 
    width: 20%;
}

.into_text{
 width: 700px;
 height: 200px;
 
}
.fullTextContent {
   font-family: Arial, Helvetica, sans-serif;
    font-size: 16px; 
    color: #333; 
    line-height: 1.6; 
    text-align: justify; 
    padding: 20px; 
    overflow-y: auto; 
    max-height: 400px; 
    
  }
  button{
    border: none;
    display: inline-block;
    background-color: #007bff; 
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  button:hover{
    background-color: #0056b3;
  }